/* global styles */

@use "variables" as v; 


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inactive{
  display: none;
}

.open{
  display: block;
  width: 100%; 
  
}

.no-scroll{
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

body{
  font-family: var(--Font);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

header{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: clamp(2rem, 8vh, 7rem) min(7%, 8rem);
  z-index: 5;
}

main{
  @include v.responsive(desktop){
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(2, auto);
  }
}

footer{
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 5;
  bottom: 15px;
  @include v.responsive(tablet){
    justify-content: left;
    padding: 0  min(5rem, 8vw);
  }
  @include v.responsive(desktop){
    justify-content: center; 
  }
  
}



