
@use "variables" as v;

/* header */

.header__menu{
  width: 100%;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 1.4rem;
  align-items: center;
  @include v.responsive(desktop){
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 7%;
  }
}

.mobile__btn{
  position: relative;
  display: block;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 17;
  @include v.responsive(desktop){
    display: none;
  }
}

.header__logo{
  position: static;
  justify-self: center;
  @include v.responsive(desktop){
    justify-content: flex-start;
  }
}

.mobile__close{
    position: absolute;
    top: 0;
    transform: translateY(-3.5vh);
   /*  @include v.responsive(tablet){
      transform: translateY(-3.5vh);
    } */
}


//GALLERY CONTAINER 


.gallery__container {
  display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: relative;
   
    @include v.responsive(desktop){
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
}

.slide__container{
  display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: 1fr 28rem;
    position: relative;
    @include v.responsive(tablet){
        grid-template-rows: 1fr 20rem;
    }
    @include v.responsive(desktop){
      grid-template-rows: 1fr;
        grid-template-columns: 1.5fr 1fr;
    }
}


.container__buttons{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 28rem;
    pointer-events: none;
    @include v.responsive(tablet) {
        grid-template-rows: 1fr 20rem; 
    }

    @include v.responsive(desktop) {
        grid-template-rows: 1fr;
        grid-template-columns: 1.5fr 1fr;
    }
}

.img__gallery{
    width: 100%;
    height: 100%;
    @include v.responsive(desktop){
        grid-area: 1 / 1 / 1 / 1;
    }
    & img{
      display: block;
      width: 100%;
      object-fit: cover;
    }
}

.text__gallery{
    padding: min(6rem, 10vh) min(6rem, 9vw);

    & .shop__gallery{
      position: absolute;
      bottom:7%; 
    }

    @include v.responsive(tablet){
        grid-area: 2 / 1 / 2 / 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1.2rem;
        padding-block: 0;
        padding-inline: min(5rem, 8vw);

        & h2{
            grid-area: 1 / 1 / 1 / 1;
            padding-block-start: min(6rem, 8vh);
        }

        & p{
            grid-area: 1 / 2 / 1 / 2;
            padding-block-start: min(6rem, 8vh);

        }
        & .shop__gallery{
            grid-area: 1 / 1 / 1 / 1;
            position: relative;
            bottom: auto;
            align-self: end;
        }
    }

    @include v.responsive(desktop){
      
        display: flex;
        flex-direction: column;
        gap: 0;
        grid-area: 1 / 2 / 1 / 2;
        padding: min(9rem, 13vh) min(5.5rem, 6vw) 0 min(5.5rem, 6vw);

        & h2{
            padding-block-start: 0;
        }

        & p{
            padding-block-start: 0;
        }

        & .shop__gallery{
            position: fixed;
            bottom: auto;
            top: clamp(22rem, 68% , 27rem); 
           } 
    
    }
}

.gallery__buttons{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    pointer-events: all;
    @include v.responsive(desktop){
      grid-area: 1 / 2 / 1 / 2;
      justify-content: flex-start;
    }
}


.gallery__buttons button{
    background: var(--accent-color);
    border: none;
    padding: clamp(1.7rem, 2.21vw, 3.1rem);
    cursor: pointer;
}

.gallery__buttons button:hover{
    background: var(--secondary-color);
    transition: 0.3s ease-out;
}

.gallery__buttons svg{
  display: flex;
  align-self: center;
  justify-content: center;
}

//ABOUT CONTAINER

.about__container img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  @include v.responsive(tablet){
  padding-block-start: min(6rem, 8vh);  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  }
  @include v.responsive(desktop){
    padding-block-start: 0;
    grid-template-columns: 29.16% 41.68% 29.16%;
    grid-template-rows: min-content;
  }
}

.text__container{
  padding: 3rem min(6rem, 9vw);
  align-self: center;
  @include v.responsive(tablet){
    grid-area: 1 / 1 / span 2 / 2;
    padding: 0  min(5rem, 8vw);
    align-self: normal;
  }
  @include v.responsive(desktop){
    grid-area: 1 / 2 / 1 / 2;
    align-self: center;
  }
}

.dark__img{
  @include v.responsive(tablet){
    grid-area: 1 / 2 / 1 / 2;
  }
  @include v.responsive(desktop){
    grid-area: 1 / 1 / 1 / 1;
  }
}

.light__img{
  @include v.responsive(tablet){
    grid-area: 2 / 2 / 2 / 2;
  }
  @include v.responsive(desktop){
    grid-area: 1 / 3 / 1 / 3;
  }
}

