
@use "variables" as v;

/* header */

.header__menu{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  @include v.responsive(desktop){
    gap: 7%;
  }
}

.mobile__btn{
  background: none;
  border: none;
  cursor: pointer;
  @include v.responsive(desktop){
    display: none;
  }
}

.header__logo{
  justify-self: center;
  @include v.responsive(desktop){
    justify-content: flex-start;
  }
}

.header__nav { 
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 0; 
    background-color: var(--secondary-color);
    overflow-x: hidden;
    transition: width 0.5s ease-in-out; 
    
    z-index: 5;

    & ul {
        list-style: none;
        padding-block-start: 60%;
        padding-inline-start: 10%;

      & a {
        padding: 0.7rem;
        text-decoration: none;
        color: var(--primary-color);
        display: block;
        transition: 0.3s;
        font-family: var(--Font);
        font-weight: var(--Weight300);
        font-size: clamp(1.7rem, 2.5vw, 3.5rem);
        text-transform: uppercase;
      }

    }


    @include v.responsive(desktop) {
        display: block; 
        position: static; 
        width: auto; 
        height: auto; 
        padding: 0; 
        background-color: transparent; 
        z-index: auto;
        overflow: visible;

        & ul {
            display: flex; 
            gap: 2rem;
            list-style: none;
            padding: 0;
            & li a{
             padding: 0;
             text-decoration: none;
             color: var(--primary-color);
             position: relative;
             font-family: var(--Font);
             font-weight: var(--Weight500);
             font-size: var(--FontSize);
             text-transform: capitalize;
            }
    & li a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 25%;
         width: 50%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & li a:hover::after{
        transform: scaleX(1);
    }
        }
    }
}


//GALLERY CONTAINER 


.gallery__container {
  display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: relative;
    z-index: -2;
   
    @include v.responsive(desktop){
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
}


.slide__container{
  display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr;
    position: relative;
    @include v.responsive(tablet){
        grid-template-rows: 1fr 0.5fr;
    }
    @include v.responsive(desktop){
      grid-template-rows: 1fr;
        grid-template-columns: 1.5fr 1fr;
    }
}

.container__buttons{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr; 

    @include v.responsive(tablet) {
        grid-template-rows: 1fr 0.5fr; 
    }

    @include v.responsive(desktop) {
        grid-template-rows: 1fr;
        grid-template-columns: 1.5fr 1fr;
    }
}

.img__gallery{
    width: 100%;
    @include v.responsive(desktop){
        grid-area: 1 / 1 / 1 / 1;
    }
    & img{
      display: block;
      width: 100%;
      object-fit: cover;
    }
}

.text__gallery{
    padding: min(6rem, 10vh) min(6rem, 9vw);
    @include v.responsive(tablet){
        grid-area: 2 / 1 / 2 / 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        padding-block: 0;
        padding-inline: min(6rem, 9vw);

        & h2{
            grid-area: 1 / 1 / 1 / 1;
            padding-block-start: min(6rem, 8vh);
        }

        & p{
            grid-area: 1 / 2 / 1 / 2;
            padding-block-start: min(6rem, 8vh);

        }
        & .shop__gallery{
            grid-area: 1 / 1 / 1 / 1;
            align-self: end;
        }
    }

    @include v.responsive(desktop){
      
        display: flex;
        flex-direction: column;
        gap: 0;
        grid-area: 1 / 2 / 1 / 2;
        padding: min(6rem, 10vh) min(5.5rem, 6vw);

        & h2{
            padding-block-start: 0;
        }

        & p{
            padding-block-start: 0;
        }

        & .shop__gallery{
            align-self: start;
        }
    
    }
}


.gallery__buttons{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    @include v.responsive(desktop){
      grid-area: 1 / 2 / 1 / 2;
      justify-content: flex-start;
    }
}

.gallery__buttons button{
    background: var(--accent-color);
    border: none;
    padding: 2rem;
    cursor: pointer;
}

.gallery__buttons svg{
  display: flex;
  align-self: center;
    justify-content: center;
}

//ABOUT CONTAINER

.about__container{
  @include v.responsive(tablet){
  padding-block-start: min(6rem, 8vh);  
  }
  @include v.responsive(desktop){
    padding-block-start: 0;
  }
}